@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

*{
  font-family: 'Balsamiq Sans', cursive;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  background-color: #e5e7eb;
}

body {
  margin: 0 auto;
}


/* Container */

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Header */

.headerContainer{
  width: 100%;
  background-image: linear-gradient(to bottom, #7E3AF2, #3F83F8, #d7c1fd);
}

.headerTitle{
  color: white;
  background-color: transparent;
  font-size: 32px;
  text-align: center;
  margin: 15px 0;
  user-select: none;
}


/* Add To-do Form */

.new-item-form{
  width: 100%;
}

.new-item-container{
  width: 100%;
  background-image: linear-gradient(to bottom, #d7c1fd, #b5cdf7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.radial-gradient{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  filter: blur(30px);
  background: radial-gradient(#ffffffe5,#ffffff33, transparent);
  pointer-events: none;
  user-select: none;
  mix-blend-mode: overlay;
  transition: all ease;
}

.form-row{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}

.item{
  width: 100%;
  outline: none;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  color: #2e2e2e;
  padding: 12px 18px;
  font-size: 16px;
  background-color: white;
  transition: all 0.3s ease;
}

.item:hover{
  background-color: #f3f3f3;
}

.item:focus{
  background-color: white;
  border: 1px solid #7E3AF2;
}

.btn, .btn:focus{
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 4px 10px #3f83f883;
  color: white;
  background-image: linear-gradient(to bottom right, #7E3AF2, #3F83F8, #7E3AF2);
  background-position: left;
  background-size: 1000%;
  font-size: 16px;
  padding: 10px 40px;
  width: 100%;
  transition: all 0.3s ease;
}

.btn:hover{
  background-position: right;
}


/* To-do List */

.todo-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-header{
  width: 250px;
  margin: 50px 0 15px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #ec4f9d;
  border: 5px dotted #ff8e3a;
  border-radius: 10px;
  background-color: transparent;
  cursor: text;
}

.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.list li{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 12px 24px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px #b5cdf7af;
}

.list label{
  display: flex;
  align-items: center;
  text-align: center;
  color: #2e2e2e;
  background-color: transparent;
  gap: 11px;
}

.list .list-label{
  gap: 15px;
}

.list li:has(input:checked) label input[id='todoTitle']{
  text-decoration: line-through;
  color: #b3b3b3;
}

.list li .list-label input[id='checkbox']{
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label input[id='todoTitle']{
  flex: 1 1 0%;
  outline: none;
  border: 1px white;
  border-radius: 0;
  border-style: solid none;
  background-color: transparent;
  color: #2e2e2e;
  font-size: 16px;
  font-weight: 400;
  cursor: text;
}

.list li label input[id='todoTitle']:focus{
  border-bottom: 1px solid #7E3AF2;
}

.list li .list-label::before{
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid #7E3AF2;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.list li:has(input:checked) .list-label::before{
  background-color: #7E3AF2;
  box-shadow: 0 0 3px 1px white inset;
  color: white;
  font-size: 15px;
}

.actions{
  width: fit-content;
  display: flex;
  justify-content: right;
  background-color: transparent;
  gap: 20px;
  margin-left: 15px;
}

.edit-todo, .delete-todo, .save-todo, .back-todo{
  width: 20px;
  outline: none;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
}

.edit-todo:hover, .delete-todo:hover, .save-todo:hover, .back-todo:hover, .edit-todo:focus, .delete-todo:focus, .save-todo:focus, .back-todo:focus{
  outline: none;
  border: none;
}

.edit-todo svg, .delete-todo svg, .save-todo svg, .back-todo svg{
  background-color: transparent;
}

.edit-todo svg, .back-todo svg{
  color: #7E3AF2;
  transition: all 0.3s ease;
}

.delete-todo svg{
  color: #dc142f;
  transition: all 0.3s ease;
}

.save-todo svg{
  color: #50c21b;
  transition: all 0.3s ease;
}

.edit-item-form{
  display: flex;
  background-color: transparent;
}


/* No To-do State */

.noTodoContainer{
  width: 100%;
}

.illustration{
  margin-bottom: 5px;
}

.illustrationSvg{
  width: 600px;
}

.illustrationSvg svg{
  background-color: transparent;
}

.noTodoText{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noTodoTitle{
  display: flex;
  justify-content: center;
  margin: 0;
  color: #2e2e2e;
  font-size: 20px;
  font-weight: bold;
}

.noTodoDes{
  display: flex;
  justify-content: center;
  margin: 0 0 42px 0;
  align-items: center;
  color: #7e7e7e;
  font-size: 16px;
}


/* Mobile Screen */

@media(max-width: 600px) {
  .headerTitle{
    font-size: 28px;
    margin: 15px 0;
  }
  .new-item-container{
    padding: 30px 0;
  }
  .radial-gradient{
    display: none;
  }
  .todo-header{
    width: 200px;
    margin: 30px 0 15px;
    font-size: 20px;
  }
  .form-row, .list li{
    width: 80%;
  }
  .illustrationSvg{
    width: fit-content;
  }
}